* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.wrapper {
    height: 100%;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: white;
    display: grid;
    grid-template-rows: 20vh 60vh 20vh;
    grid-template-areas:
    "sponsors"
    "clockDisplays"
    "counters";
}

.score { color: red; }

.second { display: none; }

.clock, .timer {
    grid-area: clockDisplays;
    color: red;
}

.counters { 
    grid-area: counters;
    color: white;
    display: grid;
    grid-template-areas:
    "locals visitors";
}

.clock { font-size: 10rem; }

.localsCounter, .visitorsCounter {
    font-size: 15rem;
    font-weight: bold; 
}

.locals, .visitors { font-size: 10rem; }
.locals { grid-area: locals; }
.visitors { grid-area: visitors; }

.sponsors {
    grid-area: sponsors;
    height: 30%;
    background: #0e0e0e;
}

.sponsors img {
    height: 100%;
    width: auto;
}


/* ADMIN PANNEL */

.adminForm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
