* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background: black;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    text-decoration: none;
    font-weight: bold;
}

.score, .clock { color: red; }

.wrapper {
    text-align: center;
    text-transform: uppercase;
    color: white;
    display: grid;
    grid-template-rows: 5vh 90vh;
    grid-template-areas:
    "sponsors"
    "content";
}

.content {
    grid-area: content;
}

.counters {
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-areas:
    "clock clock"
    "teamA teamB"
    "scoreA scoreB";
}

.clock { grid-area: clock; }
.teamA { grid-area: teamA; }
.teamB { grid-area: teamB; }
.scoreA { grid-area: scoreA; }
.scoreB { grid-area: scoreB; }

.clock, .teamA, .teamB, .scoreA, .scoreB, .endMatch > * { font-size: 10em; }

.sponsors {
    grid-area: sponsors;
    display: flex;
    justify-content: center;
    background: white;
}

.sponsors img { max-height: 100%; width: auto; padding: 0 2px; }

.endMatch {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
}

.endMatch-content { 
    position: absolute;
    z-index: 999;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.celebrationText {
    color: orange;
}
